@import "../../colors.scss";
@import "../../media-queries.scss";

.layout {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 6em 1fr 5em;
}

.layout__header {
  // Needed for dropdowns to stay on top of content filter
  z-index: 5;
  margin-top: 1em;
  grid-column: 1/9;
  
  @media #{$mq-small} {
    grid-column: 2/8;
  }

}


.layout__content {
  color: white;
  grid-column: 1/9;

  @media #{$mq-small} {
    grid-column: 2/8;
  }

  @media #{$mq-medium} {
    grid-column: 3/7;

    &--wide {
      grid-column: 2/8;
    }
  
    &--left-half {
      grid-column: 2/5;
    }
  
    &--right-half {
      grid-column: 5/8;
    }
  }

}

.layout__footer {
  grid-row: 3;
  grid-column: 1/9;
  
  @media #{$mq-small} {
    grid-column: 2/8;
  }
}