$color-background-blue: #13133556;
$color-header-links: #ffffff;
$color-submit-text: #BEEDFF;
$color-white-header: #fff;


$color-submit: #131335;
$color-dropdown-item: #13133556;
$color-dropdown-shadow: #13133556;
$color-dropdown-hover: #7a7a8656;